services:
    Jsor\Doctrine\PostGIS\Event\ORMSchemaEventSubscriber:
        tags:
            - { name: doctrine.event_subscriber, connection: default }
            - { name: doctrine.event_subscriber, connection: remote }

doctrine:
    dbal:
        mapping_types:
            _text: string
        types:
            geometry:
                class: 'Jsor\Doctrine\PostGIS\Types\GeometryType'
                commented: false
    orm:
        dql:
            string_functions:
                ST_AsGeoJSON: 'Jsor\Doctrine\PostGIS\Functions\ST_AsGeoJSON'
                ST_GeomFromGeoJSON: 'Jsor\Doctrine\PostGIS\Functions\ST_GeomFromGeoJSON'
                ST_X: 'Jsor\Doctrine\PostGIS\Functions\ST_X'
                ST_Y: 'Jsor\Doctrine\PostGIS\Functions\ST_Y'
