version: '3.4'

services:
    php:
        build:
            target: app_php_dev
        volumes:
            - ./:/srv/app
            - ./docker/php/conf.d/app.dev.ini:/usr/local/etc/php/conf.d/app.dev.ini:ro
            # If you develop on Mac or Windows you can remove the vendor/ directory
            #  from the bind-mount for better performance by enabling the next line:
            #- /srv/app/vendor
        environment:
            XDEBUG_MODE: "${XDEBUG_MODE:-off}"
        extra_hosts:
            - host.docker.internal:host-gateway

    caddy:
        command: [ "caddy", "run", "--config", "/etc/caddy/Caddyfile", "--adapter", "caddyfile", "--watch" ]
        volumes:
            - ./public:/srv/app/public:ro
            - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro

    pgadmin:
        image: 'dpage/pgadmin4'
        environment:
            PGADMIN_DEFAULT_EMAIL: '${PGADMIN_USER:-info@zebrina.ch}'
            PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_PASSWORD:-pgadmin_password}'
        volumes:
            - 'db-admin:/var/lib/pgadmin'
        ports:
            - '5050:80'
        depends_on:
            - 'database'
        restart: 'unless-stopped'

    node:
        build:
            context: .
            target: app_node

        volumes:
            -   ./:/srv/app
        ports:
            - target: 8080
              published: 8080
              protocol: tcp
        command: 'sh -c "npm install; npm run dev-server -- --server-type https --client-web-socket-url https://localhost:8080 --host 0.0.0.0"'

volumes:
    db-admin:
