version: '3'

services:
    database:
        image: 'postgis/postgis:${POSTGRES_VERSION:-14}-3.3-alpine'
        environment:
            POSTGRES_DB: '${POSTGRES_DB:-zebrina_db}'
            POSTGRES_PASSWORD: '${POSTGRES_PASSWORD:-zebrina_password}'
            POSTGRES_USER: '${POSTGRES_USER:-zebrina_user}'
        volumes:
            - 'db-data:/var/lib/postgresql/data:rw'

volumes:
    db-data:
